<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Library</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../static/css/slicknav.min.css"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../static/css/style.css"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/business-casual.min.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Books are a uniquely portable magic!</span>
    <span class="site-heading-lower">BookShare</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">BookShare</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/bookSearch">Find</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/bookShare">Share</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/getBook">Library</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/visualisations">Stats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navigation end-->

    <section class="page-section about-heading">
    <!--     <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../static/img/about.jpg" alt=""> -->
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-10 col-lg-12 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">A great place to be stranded</span>
                            <span class="section-heading-lower">Discover something new</span>
                        </h2>
            


                        <div class="col-lg-12">
                            <div class="d-flex h-100 align-items-end">
                              <form method="POST" action="/getBook" role="form" name="bookInfo" class="search-form">
                                <input type="text" class="form-control-lg" id="inputTitle" name="title" placeholder="Hit it">
                                <button type="submit">Search</button>
                              </form>
                            </div>
                          </div>
                        
                        <!-- Category section -->
                        <section class="category-section spad">
                            <div class="container-fluid">
                                <div class="section-title">
                                    <h2></h2>
                                </div>
                                <div class="container">
                                    <div class="category-links playlist-filter controls">
                                        <li class="control" data-filter=".genres">Genres</li>
                                        <li class="control" data-filter=".sub">Sub-Categories</li>
                                        <li class="control" data-filter="all">All</li>
                                    </div>
                                </div>
                                <div class="category-items">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="category-item">
                                                <img src="../static/img/playlist/9.jpg" alt="">
                                                <div class="ci-text">
                                                    <h4>Micke Smith</h4>
                                                    <p>Live from Madrid</p>
                                                </div>
                                                <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="category-item">
                                                <img src="../static/img/playlist/2.jpg" alt="">
                                                <div class="ci-text">
                                                    <h4>Micke Smith</h4>
                                                    <p>Live from Madrid</p>
                                                </div>
                                                <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="category-item">
                                                <img src="../static/img/playlist/7.jpg" alt="">
                                                <div class="ci-text">
                                                    <h4>Micke Smith</h4>
                                                    <p>Live from Madrid</p>
                                                </div>
                                                <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Category section end -->

                        <!-- books section  -->
                        <section class="books-section">
                            <div id="book-list" class="container">
                                <!-- book -->
                                <!-- <div class="book-item">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="book-info-box">
                                                <img src="!--image-url-" alt="">
                                                <div class="book-info">
                                                    <h4>booktitle</h4>
                                                    <p>author></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single_player_container">
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="books-links">
                                                <a href=""><img src="../static/img/icons/p-1.png" alt=""></a>
                                                <a href=""><img src="../static/img/icons/p-2.png" alt=""></a>
                                                <a href=""><img src="../static/img/icons/p-3.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 -->
                                
                                
                            </div>
                        </section>
                        <!-- books section end -->
        
                    </div>
                </div>
            </div>
        </div>
    <!--  </div> -->
    </section> <!--page-section-heading-->


    <section class="page-section cta">
    <div class="container">
        <div class="row">
        <div class="col-lg-4 mx-auto">
            <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">As the Page Turns</span>
                <span class="section-heading-lower"><!--write something--></span>
            </h2>
            <p class="mb-0">"You are not done with a book until you pass it to another reader."- Donalyn Miller</p>
            </div>
        </div>

        <div class="col-lg-4 mx-auto">
            <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Because you read</span>
                <span class="section-heading-lower"><!--write something--></span>
            </h2>
            <p class="mb-0">"My Best friend is a person who will give me book I have not read."- Abraham Lincoln</p>
            </div>
        </div>

        <div class="col-lg-4 mx-auto">
            <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Always worth a browse</span>
                <span class="section-heading-lower"><!--write something--></span>
            </h2>
            <p class="mb-0">"A book lying idle on a shelf is a wasted ammunition."- Henry Miller</p>
            </div>
        </div>

        </div>
    </div>
    </section>

    <footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2019</p>
    </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <!--====== Javascripts & Jquery ======-->
    <script src="../static/jquery/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/jquery/jquery.slicknav.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/main.js"></script>

    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <script src="../static/js/book_list.js"></script>

    <!-- Audio Player and Initialization -->
    <script src="../static/jquery/jquery.jplayer.min.js"></script>
    <script src="../static/jquery/jplayerInit.js"></script>



</body>

</html>

